<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Translation Telephone {% endblock %}</title>
    <meta name="google-site-verification" content="34oTObXJc_96cAiVxmkxqmIZyuyxFSWdn5PaWLhgMaI" />
    <meta property="og:image" content="{{ url_for('static', filename='img/icon-128.png') }}" />
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="A fun tool for translating messages through multiple languages and seeing what comes back."/>
    <meta name="description" content="" />
    <link href="{{ url_for('static', filename='css/960.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Maiden+Orange:regular" rel="stylesheet" type="text/css" />
    <style>
@font-face {
  font-family: 'scunthorpeSansWeb';
  src: url('{{ url_for('static', filename='css/scunthorpe-sans.woff') }}') format('woff');
  font-display: block;
}
.message,.round,#message {
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  font-family: 'scunthorpeSansWeb', sans-serif;
}
    </style>
</head>
<body>

<div id="wrapper" class="container_12">

    <header id="header" class="grid_12">

        <h1><a href="/">Translation Telephone</a></h1>

    </header> <!-- end header -->

    <div id="content">

       {% block content %}{% endblock %}

		<div id="disclaimer">Note: The Translation APIs used charge past a certain amount of free translations each day, and I can't afford to pay for infinite usage.
        That means if lots of people use this, you'll likely start seeing errors.
        If you're a developer, you can also clone the code and use your own API keys.
        </div>

    </div>

    <footer id="footer" class="grid_12">
        <p>Made by <a href="http://www.pamelafox.org">Pamela Fox</a> - Fork the code on <a href="https://github.com/pamelafox/translation-telephone/">Github</a>
    </footer>

    <div class="clear"></div>

</div>
<script type="module" src="{{ url_for('static', filename='dist/js/bundle.js') }}";></script>
{% block script %}{% endblock %}
</body>
</html>
