{% extends "base.html" %}
{% block content %}
    <div class="main col" >
      <p>Ever played the "Telephone" game, where you send a message around a circle of people &amp; see how it turns out? This is an online version which translates the message to 20 random languages using translation APIs and finally translates it back to the original language. Have fun!
      </p>

      <div id="translations-ui">
      </div>

    </div>

    <div class="sidebar col">

      <aside id="yours-section" class="widget" style="display:none;">
        <h3>Your Translations:</h3>
 	      <div id="yours"></div>
        <a href="/yours">See more</a>
      </aside>
      <div id="promo">Want to see what other people translated?
        <br>
        Warning: they may be inappropriate!
        <br>
        Show <a href="/popular">popular</a> and <a href="/recent">recent</a> translations</a>
      </div>
    </div>

{% endblock %}
{% block script %}
<script type="module">
import {initMain} from "{{ url_for('static', filename='dist/js/bundle.js') }}";
const messageOptions = {{ options | tojson }};
initMain(messageOptions, {% if id is defined %}{{id}}{% endif %});
</script>
{% endblock %}
