{% extends "base.html" %}
{% block content %}
    <div id="main" class="grid_8 alpha">
      <p>Ever played the <a href="http://en.wikipedia.org/wiki/Chinese_whispers">"Telephone" game</a>, where you send a message around a circle of people &amp; see how it turns out? This is an online version which translates the message to 20 random languages using translation APIs and finally translates it back to the original language. Have fun!
      </p>

      <div>
	    <form id="message-form">
	        <label for="message">Enter your message (hint: longer is better) and tell us what language its in:</label><br>
		    <input id="message" type="text" value="" maxlength="250">
                    <select id="languages"></select>
	        <button type="submit">Go!</button>
        </form>
      </div>

      <div id="branding"></div>

      <div id="translations">
      </div>

       <div id="translations-footer">
       </div>

    </div>

    <div id="sidebar" class="grid_4 omega">

      <aside id="yours-section" class="widget" style="display:none;">
        <h3>Your Translations:</h3>
 	      <div id="yours"></div>
        <a href="/yours">See more</a>
      </aside>
      <div>Want to see what other people translated?
        <br>
        Warning: they may be inappropriate!
        <br>
        Show <a href="/popular">popular</a> and <a href="/recent">recent</a> translations</a>
      </div>
    </div>

{% endblock %}
{% block script %}
<script type="module">
import {initMain} from "{{ url_for('static', filename='js/script.js') }}";
initMain();
</script>
{% endblock %}
