body {
	background-image: linear-gradient(45deg, #ca9de3 25%, #e6bceb 25%, #e6bceb 50%, #ca9de3 50%, #ca9de3 75%, #e6bceb 75%, #e6bceb 100%);
background-size: 5.66px 5.66px;
	color: #333333;
	font: 14px/24px Helvetica, sans-serif;
}

.container {
	max-width: 960px;
	margin: auto;
	font-family: sans-serif;
	line-height: 1.5;
}

.content {
	display: flex;
	flex-wrap: wrap;
	margin: auto -1rem 1rem;
	padding: 15px 10px 5px 10px;
	background: rgba(255, 255, 255, .9);
	border: 1px solid #bc65eb;
	border-left: none; border-right: none;
  }

.col {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.sidebar {
	flex: 1;
}

.main {
	flex: 2.5;
}

.full-width {
	flex-basis:100%
}



/* Headers/headings */

#header h1, h2, h3 {
	font-family: 'Akaya Kanadaka', serif;
	margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
	font-size: 36px;
    text-shadow: 1px 1px 2px #116fed;
}

#header {
  padding-top: 40px;
}

#header h1 {
	margin-bottom: -34px;
}
#header h1 a {
	color: black;
	font-size: 66px;
	text-shadow: 1px 1px 2px #116fed;
	text-decoration: none;
}

/* Sidebar widgets */

.widget {
	overflow: hidden;
	padding-top: 5px;
	margin-bottom: 20px;
}

.widget li {
  margin-bottom: 6px;
  line-height: 1.3em;
}

/* Misc */

#disclaimer {
  font-size: 13px;
  padding-top: 20px;
}

#promo {
	padding: 8px;
	background: #eee;
}
