{% extends "templates/base.html" %}
{% block content %}
    <!-- Show a "Please Upgrade" box to both IE7 and IE6 users (Edit to IE 6 if you just want to show it to IE6 users) - jQuery will load the content from js/ie.html into the div -->
    
    <!--[if lte IE 7]>
        <div class="ie grid_7"></div>
    <![endif]-->
    
    <div id="main" class="grid_8 alpha">
      <p>Ever played the <a href="http://en.wikipedia.org/wiki/Chinese_whispers">"Telephone" game</a>, where you send a message around a circle of people &amp; see how it turns out? This is an online version which translates the message to 20 random languages using Google Translate and finally translates it back to the original language. Have fun!
      </p>
      
      <div>
	    <form onsubmit="start(); return false;">
	        <label for="message">Enter your message (hint: longer is better) and tell us what language its in:</label><br>
		    <input id="message" type="text" value="" maxlength="250">
                    <select id="languages"></select>
	        <button type="submit">Go!</button>
        </form>
      </div>
      
      <div id="branding"></div>
   
      <div id="translations">
      <br><br><br>
      Can't think of anything? Check out the most popular translations on the side ➜
      </div>
       
       <div id="share">
         <p><b>Well, that's how the message turned out! What next?</b></p>
         <p>&#9654; You can share it simply by linking to this URL:<br>
           <input type="text" readonly id="url" size="100"/></p>
         <!--<p id="share_original">&#9654; You can <a href="javascript:void(0);" onclick="showOriginal();">show the translation to the start language</a> at each step to see how or if the meaning changed.</p>-->
         <p>&#9654; You can <a href="javascript:void(0);" onclick="startOver();">try a new message</a> &mdash; lyrics and quotes work well.</p>
       </div>
    
    </div>
    
    <div id="sidebar" class="grid_4 omega">

      <aside id="yours_section" class="widget" style="display:none;">
        <h3>Yours:</h3>
 	    <div id="yours"></div>
        <a href="/yours">See more</a>
      </aside>
      
      <aside id="chromepromo" class="widget" style="display:none;">
         <!-- <img src="http://code.google.com/p/chrome-os/logo" style="float: right; width: 40px;"> -->
         Install our <a href="https://chrome.google.com/extensions/detail/cfocpdimpdkddnocofmcclllmjgkhngk">Chrome Extension</a> so you can easily translate phrases you see online. 
      </aside>
    </div>

{% endblock %}
{% block script %}
<script>
initMain();
</script>
{% endblock %}
